# Hellholt
{% for host in groups['pve_hosts']  %}
  # {{ host }}
  Host {{ host }}
    User {{ hostvars[host].ansible_user | default(user) }}
    Hostname %h.hellholt.net
    IdentityFile ~/.ssh/id_rsa
{% endfor %}
