#!/usr/bin/env bash

# Make a raw CURL request to the Home Assistant instance.
hass_curl() {
  : "${2?"Usage: ${FUNCNAME[0]} METHOD PATH [DATA]"}";
  request_method="${1}";
  api_path="${2:-}";
  curl \
    -X "${request_method}" \
    -H "Authorization: Bearer {{ home_assistant.access_token }}" \
    -H "Content-Type: application/json" \
    "${@:3}" \
    "{{ home_assistant.api_url }}/${api_path}";
}
