[default]
region={{ aws.defaults.region }}
output={{ aws.defaults.output }}

{% for profile in aws.profiles %}
[profile {{ profile.id }}]
region={{ profile.region | default(aws.defaults.region) }}
output={{ profile.output | default(aws.defaults.output) }}

{% endfor %}
