[default]
region={{ aws.defaults.region }}
output={{ aws.defaults.output }}

{% for id, profile in aws.profiles.items() %}
[profile {{ id }}]
region={{ profile.region | default(aws.defaults.region) }}
output={{ profile.output | default(aws.defaults.output) }}

{% endfor %}
