{% for id, profile in aws.profiles.items() %}
[{{ id }}]
aws_access_key_id={{ profile.key_id }}
aws_secret_access_key={{ profile.secret_key }}

{% if profile.mfa_profile is defined %}
[{{ id }}-long-term]
aws_access_key_id={{ profile.key_id }}
aws_secret_access_key={{ profile.secret_key }}
aws_mfa_profile={{ profile.mfa_profile }}

{% endif %}
{% endfor %}
